.tnw-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 106px;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background: #fff;
  }

  .tnw-logo img {
    height: 1rem;
    width: 66px;
  }

  .search-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: #555; */
  }

  .search-menu li {
    height: 100%;
    width: 3rem;
    border-left: 1px solid #eee;
    /* background: #555; */
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.18);
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  .search-icon {
    transform: rotate(-270deg);
  }

  .menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f42;
    height: 100%;
    width: 100%;
  }
}